<p>import NgModule from '@angular/core'</p>
<p>import RouterModule, Routes from '@angular/router'</p>
<p>import ProductListComponent from './product-list/product-list.component'</p>
<p>import ProductDetailComponent from './product-detail/product-detail.component'</p>
<p>import ProductAddComponent from './product-add/product-add.component'</p>
<div>نوع غير معروف: RouteDefinitionNode</div>
<div>نوع غير معروف: NgModuleDecorator</div>
<div>Class Body:<ul>
    <li><h2>class AppRoutingModule</h2></li></ul></div>